<section class="p-5">
  <.live_component
    module={GlammWeb.ItemLive.FormComponent}
    id={:new}
    title={@page_title}
    action={@live_action}
    item={@item}
    patch={~p"/manage/gallery/collections/items"}
  />
</section>
