<.header>
  New Media types
  <:subtitle>Use this form to manage media_types records in your database.</:subtitle>
</.header>

<.media_types_form changeset={@changeset} action={~p"/mst_media_types"} />

<.back navigate={~p"/mst_media_types"}>Back to mst_media_types</.back>
