<.header>
  New Place
  <:subtitle>Use this form to manage place records in your database.</:subtitle>
</.header>

<.place_form changeset={@changeset} action={~p"/manage/mst_places"} />

<.back navigate={~p"/manage/mst_places"}>Back to mst_places</.back>
