<.header>
  New Content types
  <:subtitle>Use this form to manage content_types records in your database.</:subtitle>
</.header>

<.content_types_form changeset={@changeset} action={~p"/mst_content_types"} />

<.back navigate={~p"/mst_content_types"}>Back to mst_content_types</.back>
