<.header>
  New Language
  <:subtitle>Use this form to manage language records in your database.</:subtitle>
</.header>

<.language_form changeset={@changeset} action={~p"/manage/mst_language"} />

<.back navigate={~p"/manage/mst_language"}>Back to mst_language</.back>
