<.simple_form :let={f} for={@changeset} action={@action}>
  <.error :if={@changeset.action}>
    Oops, something went wrong! Please check the errors below.
  </.error>
  <.input field={f[:content_type]} type="text" label="Content type" />
  <.input field={f[:code]} type="text" label="Code" />
  <.input field={f[:mar_code]} type="text" label="Mar code" />
  <:actions>
    <.button>Save Content types</.button>
  </:actions>
</.simple_form>
