<.header>
  New Publisher
  <:subtitle>Use this form to manage publisher records in your database.</:subtitle>
</.header>

<.publisher_form changeset={@changeset} action={~p"/manage/mst_publishers"} />

<.back navigate={~p"/manage/mst_publishers"}>Back to mst_publishers</.back>
