<.simple_form :let={f} for={@changeset} action={@action}>
  <.error :if={@changeset.action}>
    Oops, something went wrong! Please check the errors below.
  </.error>
  <.input field={f[:place_name]} type="text" label="Place name" />
  <:actions>
    <.button>Save Publisher</.button>
  </:actions>
</.simple_form>
