<.header>
  Publisher <%= @publisher.id %>
  <:subtitle>This is a publisher record from your database.</:subtitle>
  <:actions>
    <.link href={~p"/manage/mst_publishers/#{@publisher}/edit"}>
      <.button>Edit publisher</.button>
    </.link>
  </:actions>
</.header>

<.list>
  <:item title="Place name"><%= @publisher.place_name %></:item>
</.list>

<.back navigate={~p"/manage/mst_publishers"}>Back to mst_publishers</.back>
