<.header>
  New Frequency
  <:subtitle>Use this form to manage frequency records in your database.</:subtitle>
</.header>

<.frequency_form changeset={@changeset} action={~p"/manage/mst_frequency"} />

<.back navigate={~p"/manage/mst_frequency"}>Back to mst_frequency</.back>
