<.header>
  Edit Location <%= @location.id %>
  <:subtitle>Use this form to manage location records in your database.</:subtitle>
</.header>

<.location_form changeset={@changeset} action={~p"/manage/mst_locations/#{@location}"} />

<.back navigate={~p"/manage/mst_locations"}>Back to mst_locations</.back>
