<.header>
  New Item status
  <:subtitle>Use this form to manage item_status records in your database.</:subtitle>
</.header>

<.item_status_form changeset={@changeset} action={~p"/manage/mst_item_status"} />

<.back navigate={~p"/manage/mst_item_status"}>Back to mst_item_status</.back>
