<.header>
  Edit Carrier types <%= @carrier_types.id %>
  <:subtitle>Use this form to manage carrier_types records in your database.</:subtitle>
</.header>

<.carrier_types_form
  changeset={@changeset}
  action={~p"/manage/mst_carrier_types/#{@carrier_types}"}
/>

<.back navigate={~p"/manage/mst_carrier_types"}>Back to mst_carrier_types</.back>
