<.header>
  New Topic
  <:subtitle>Use this form to manage topic records in your database.</:subtitle>
</.header>

<.topic_form changeset={@changeset} action={~p"/mst_topics"} />

<.back navigate={~p"/mst_topics"}>Back to mst_topics</.back>
